*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    background: black;
   
}

:root {
--preto-espacial: #0B0C10;
--azul-escuro: #1F4068;
--ciano: #00FFF7;
--cinza-ecuro: #C5C6C7;
--cinza-claro:#F5F5F5;
}

video {
    width: 50vw;
    margin-left: 50vw;
}

.menu{
    color: #afc4f1;
}

button{
    color:var(--preto-espacial);
    background: linear-gradient(var(--cinza-ecuro), var(--cinza-claro));
    
}



